@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    color: gray;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
}

.hero {
    padding: 10px;
    margin: 10px;
}

#hero-text {
    font-weight: 400;
}

.menu {
    font-weight: 400;
    font-size: 1em;
}