* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    background-color: beige;
    color: cornflowerblue;
}

#banner {
    background-image: url(../img/bg.jpeg);
    background-size: cover;
    text-align: center;
    padding: 250px;
    height: 90vh;
}

#wpp {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
}

#joker{
    position: absolute;
    width: 50px;
}

#card{
    position: absolute;
    width: 50px;
    z-index: -1;
}